
*{
margin: 0px;
padding: 0px;
}

#wrapper {
width: 970px;
height:650px;
background-color: #1B345D;
padding: 10px;
}

.header {
    color: #C2D6EC;
    background-color: #CF3036;
    width: 945px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 15px; 
    padding-top: 15px; 
    padding-left: 15px;
}

.sidelinks {
    display: inline-block;
    width:165px;
    height: 200px;
    background-color: #2A7D8C;
    border-radius: 10px;
    padding-top: 15px;   
    padding-bottom: 15px; 
    list-style-position: inside;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.sidelinks a {
    color: #61D4D2;
    font-size: 14px; 
}

.sidelinks ul {
    padding-left: 10px;
    color: white;
    border-width: 2px;
    border-color: white;
}

.maincontent {
    display: inline-block;
    width: 710px;
    height: 470px; 
    background-color: #0E1822;
    color: #C2D6E5;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
    list-style-position: inside;
    padding:15px;

}

.maincontent h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400px;
}

.maintcontent p {
    padding-top: 10px;
    font-weight: 500px;
}

.maincontent li {
    padding: 5px;
}

.maincontent a {
    color: #61D4D2;
}

.moreinformation {
    height: 30px;
    background-color: #5D6673;
    color: #C2D6EC;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
.moreinformation a {
    color:#61D4D2;
}